body,html{ padding:0; margin:0 auto; background-color:#fff;} 
img{ border:none;}
h1,h2,h3,h4,h5,h6,hr,blockquote,form,ul,ol,li,p,pre,dl,dt,dd,fieldset,legend,button,input,textarea,th,td{ padding:0; margin:0;}
ul,ol,li{ list-style:none;}
sup{ vertical-align:text-top;}
sub{ vertical-align:text-bottom;}
legend { color:#000;}
fieldset{ border:0;} 
button,input,select,textarea { font-size:100%;}
table{ border-collapse:collapse; border-spacing:0;}
.clear{ clear:both; line-height:0px; font-size:0px;}
.clearfix:after{ content:".";display:block; height:0; clear:both; visibility:hidden;}
.clearfix{display:inline-block;overflow:hidden;}
.left{ float:left; _display:inline;}
.right{ float:right;}
.hr_10{ clear:both; height:10px; overflow:hidden; font-size:1px; line-height:1px;}

body,button,input,select,textarea{ font-family:"宋体"; color:#000; font-size:12px;}
h1,h2,h3,h4,h5,h6{ font-size:100%;}
address,cite,dfn,em,var{ font-style:normal }
code,kbd,pre,samp{ font-family:courier new, courier, monospace;}
.bold{ font-weight:bold;}
a{ color:#000; text-decoration:none;}
a:hover{ color:#A10000; text-decoration:none;}

.topMargin5{ margin-top:5px;}
.topMargin10{ margin-top:10px;}
.topMargin8{ margin-top:8px;}
.topMargin20{ margin-top:20px;}
.leftMargin5{ margin-left:5px;}
.leftMargin10{ margin-left:10px;}

.zuizong  { width:653px;}
.zuizong .title { height:24px; line-height:24px; background:url(http://i.vanclimg.com/my/2012/order/title_bg.jpg) center no-repeat; padding-left:7px; color:#fff; position:relative; padding-top:0px}
.title p {float: left; font-weight:700;}
.title span { display:block; background:url(http://i.vanclimg.com/my/2012/order/close.gif) 5px 7px no-repeat; padding-left:25px; position:absolute; right:10px; top:0px;}
.title span a  { color:#fff;}
.title span a:hover  { color:#fff;}
.title span img  { margin-right:5px;}

.dingdan  { width:603px; background:url(http://i.vanclimg.com/my/2012/order/biaoge_bg.gif) top left repeat-y; padding:20px 25px;}
.jindu  { border:1px solid #ccc; background-color:#fff; padding:15px 6px;}
.jdb b  { display:block; float:left;}
.jdb ul  { display:block; float:left; width:526px; padding-left:4px; padding-bottom:5px; margin-top:-6px;}
.jdb li  { height:10px; padding-top:39px; float:left; text-indent:-12px; _text-indent:0px;}
.jdb li.pre  { width:79px; background:url(http://i.vanclimg.com/my/2012/order/jindu1.gif) top left no-repeat;color:Black;}
.jdb li.on  { width:79px; background:url(http://i.vanclimg.com/my/2012/order/jindu2.gif) top left no-repeat;color:Black; font-weight:bold;}
.jdb li.after  { width:79px; background:url(http://i.vanclimg.com/my/2012/order/jindu3.gif) top left no-repeat;color:#999999;}
.jdb li.last  { width:48px; background:url(http://i.vanclimg.com/my/2012/order/jindu4.gif) top left no-repeat;color:#999999;}
.jdb li.lastselect  {width:52px; background:url(http://i.vanclimg.com/my/2012/order/dedd.gif) top left no-repeat;color:Black; font-weight:bold;}

#timu  { padding:15px 0; clear:both;}
#timu input  { vertical-align:middle;}

.biaoge th  { border:1px solid #E5E5E5; height:30px; line-height:30px; background-color:#F1F1F1; color:#333;}
.biaoge td  { border:1px solid #E5E5E5; height:23px; line-height:23px; color:#676767; padding-left:10px;}
.map  { padding-left:5px; font-size:0;}

.imglodding
    {
        padding-right: 3px;
        margin-bottom: -7px;
        width: 25px;
    }
    
    .ts
    {
        height: 40px;
        border: 1px solid #cc9998;
        background: #fff6f7;
        line-height: 20px;
    }
    .ts p
    {
        padding-left: 10px;
    }
    
    #body
    {
        font: 100 12px "宋体";
        margin: 0 auto;
        position: relative;
        width: 100%;
    }
    .wrapper
    {
        width: 100%;
        margin: 0 auto;
    }
    
/* recomment list style in order list page */
.tj1
{
    float:right;
    width:777px;
    margin-top:15px;    
}
